img {

    width: "50px";
    height: "50px";
    border-radius: 20%;
    border: none;
    size-adjust: 50;

}

td {
    background-color: #91C8E4;


}

table,
th,
td {
    border: 1px solid;
    border-collapse: collapse;
    height: 70px;
    padding-left: 10%;
    

}

tr {
    background-color: #001C30;
    
}

h1 {
    color: #749BC2;
}

h4 {
    color: #DAFFFB;

}

table {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body {
    background-image: morrocan-flower;
}
